.navbar-nav {
    order: -1;
    width: 100%;
    text-align: center;
}

.container-fluid {
    width: fit-content !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fixed-top {
    z-index: 1000 !important;
}

.navbar-toggler {
    background-color: #333;
    border: none;
}

.navbar-toggler-right {
    margin-left: auto;
    z-index: 1001 !important;
}

.navbar button {
    border: none !important;
    outline: none !important;
    filter: invert(100%) !important;
}

.navbar button:focus-visible,
.navbar button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar span {
    filter: invert(100%);
}

/* .navbar-toggler:hover {
    background-color: #555;
} */

.navbar-collapse {
    position: fixed;
    z-index: -1 !important;
    height: 100vh !important;
    width: 27rem;
    left: -30rem;
    top: 0;
    opacity: 0 !important;
    display: flex !important;
    align-items: center !important;
    -webkit-transition: 0.3s ease-in-out !important;
}

.navbar-collapse.show {
    left: -2px;
    padding: 0 30px;
    background-color: #333;
    opacity: 0.9 !important;
    top: 0;
    height: 100% !important;
}

.navbar-collapse ul {
    margin-top: 0;
}

.navbar-nav li {
    width: fit-content;
    max-width: 25rem !important;
    text-align: left;
    text-transform: uppercase;
    padding: 0 15px;
    margin: 10px 0;
    -webkit-transition: 0.8s ease-in-out !important;
}

.navbar-nav li:hover {
    border-left: 4px solid #fff;
    border-radius: 40px;
    transform: scale(1.05);
    translate: 3rem;
    -webkit-transition: 0.35s ease-in-out !important;
}

.navbar-nav li a {
    color: #fff !important;
    font-size: 1.5rem;
}

.navbar-nav li a:hover {}

.logo {
    width: fit-content;
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    text-align: center !important;
    -webkit-transition: 0.5s ease-in-out !important;
}

@media screen and (max-width: 355px) {

    .nav-link {
        font-size: 1rem !important;
    }
}

.top-bun,
.patty,
.bottom-bun {
    box-shadow: 1px 1px 2px #fff;
}

.burger-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.burger-inner {
    width: 100%;
    height: 100%;
}

.burger-inner .top-bun {
    background-color: #000;
    transform: translateY(-9.5px);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    transition: transform 250ms cubic-bezier(.2, .6, .3, 1), width 250ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
    height: 3px;
    -webkit-transition: 0.5s all;
}

.burger-inner .patty {
    background-color: #000;
    transform: scaleX(.6) translateX(11.5px);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    transition: transform 250ms cubic-bezier(.2, .6, .3, 1), width 250ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
    height: 3px;
}

.burger-inner .bottom-bun {
    background-color: #000;
    transform: translateY(9.5px);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    transition: transform 250ms cubic-bezier(.2, .6, .3, 1), width 250ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
    height: 3px;
}

.navbar-toggler[aria-expanded="true"] .burger-inner .top-bun {
    transform: rotate(-45deg) translate(-3px, 3px);
}

.navbar-toggler[aria-expanded="true"] .burger-inner .patty {
    display: none !important;
}

.navbar-toggler[aria-expanded="true"] .burger-inner .bottom-bun {
    transform: rotate(45deg) translate(3px, 3px);
    -webkit-transition: 1s all;
}

@media screen and (max-width: 768px) {
    .logo {
        margin: 0 auto !important;
        -webkit-transition: 0.5s ease-in-out !important;
    }

    .logo img {
        width: 10rem !important;
        -webkit-transition: 0.5s ease-in-out !important;
    }
}

/* @media screen and (max-height: 300px) {
    .logo {
        margin: 20px 35px 0 !important;
    }

    .logo img {
        width: 6rem !important;
    }
    
    .navbar-nav {
        max-width: 160px !important;
        max-height: 100px;
        overflow-y: auto;
    }

    .navbar-nav ul {
        margin: 0 !important;
        max-width: 160px !important;
    }

    .navbar-nav li {
        padding: 0 !important;
        margin: 0 !important;
        max-width: fit-content !important;
    }

    .navbar-nav li:hover {
        border: none !important;
        border-radius: 0 !important;
        transform: none !important;
        translate: none !important;
    }

    .navbar-nav li a {
        max-width: 100px !important;
    }

    .navbar-nav li a:hover {
        border-bottom: 4px solid #fff !important;
        border-radius: 0 !important;
        transform: none !important;
        translate: none !important;
        -webkit-transition: 0.1s ease-in-out !important;
    }
} */