* {
    -webkit-transition: 0.5s all !important;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Mono", monospace !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-width: 320px !important;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}